!!!5
meta(charset="utf-8")
title Kimbo.js - An ECMAScript 5 only-compatible JavaScript library
meta(name="viewport", content="width=device-width")
link(href="http://fonts.googleapis.com/css?family=Dosis:600|Yanone+Kaffeesatz:200,700", rel="stylesheet")
link(href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css", rel="stylesheet")
link(href="css/css.min.css", rel="stylesheet")

body
  #logo
    img(src="img/logo.png", width="409", height="120", alt="Kimbo Logo")

  h1 An ECMAScript 5 only-compatible JavaScript library

  #social
    a.icon.github(href="http://github.com/dciccale/kimbo.js")
    a.icon.twitter(href="http://twitter.com/kimbojs")

  //-
    ul#nav
      li
        a.current(href="/") About
      li
        a(href="http://kimbojs.com/api") API

  #banner
    .col
      h2.normal Robust &amp; Modern
      p
        | Kimbo premise is to use the latest ECMAScript 5 and DOM APIs that are supported by modern browsers without losing robustness.
    .col
      h2.light <em>Fast</em> <strong>&amp;</strong> Lightweight
      p
        | Kimbo is as fast as light-weight, taking advantage of native speed features and never more adding extra weight for older browsers.
    .col
      h2
        strong You know it
      p Its API is jQuery compatible, this means you already know how to use Kimbo.
      p
        a(href="http://kimbojs.com/api") Documentation

  p#download
    a.btn(href="http://kimbojs.com/dist/kimbo.min.js") Download
    span.size ~3kb min+gzip | <a href="http://kimbojs.com/dist/kimbo.js">debug build</a>

  .perfContainer
    h2.medium Performance tests

    - var jsperfTests = ['id', 'addclass', 'closest', 'each', 'siblings', 'find', 'css', 'data', 'iterator', 'object-iterator']
    ul#nav
      each test in jsperfTests
        li
          a(href="jsperf-#{test}.html", target="iframe", id="jsperf-#{test}") #{test}
      li.more More to come...

    iframe#iframe(seamless)

  .author
    h2.medium Author
    p Denis Ciccale
    p
      a(href="https://twitter.com/tdecs", class="twitter-follow-button", data-show-count="false") Follow @tdecs
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  script(src="http://kimbojs.com/dist/kimbo.min.js")
  script(src="js/scripts.js")
  script.
    var _gaq = [['_setAccount', 'UA-24098807-11'], ['_trackPageview']];
    (function (d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.async = g.src = '//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
    }(document, 'script'));
