title = 'Kimbo vs jQuery object iterator'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBiSntcTDA'
url = 'kimbo-vs-jquery-object-iterator'
version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
