title = 'Kimbo vs jQuery closest method'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBj08KoTDA'
url = 'kimbo-vs-jquery-closest-method'
version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
