- var title = 'Kimbo vs jQuery iterator'
- var key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBiwpsgTDA'
- var url = 'kimbo-vs-jquery-iterator'
- var version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
