title = 'Kimbo vs jQuery siblings method'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBizgNETDA'
url = 'kimbo-vs-jquery-siblings-method'
version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
