title = 'Kimbo vs jQuery data method'
key = 'agt1YS1wcm9maWxlcnIRCxIEVGVzdBiAgICA2LHlCww'
url = 'kimbo-vs-jquery-data-method/5'
version = 'Kimbo 1.0.0 and jQuery 2.0.3'

include includes/jsperf-layout
