title = 'Kimbo vs jQuery closest method'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBi68ekTDA'
url = 'kimbo-vs-jquery-closest-method/2'
version = 'Kimbo 1.0.0, jQuery 1.9.0 and Zepto 1.0rc1'

include includes/jsperf-layout
