title = 'Kimbo vs jQuery id selector'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBjFsO4TDA'
url = 'kimbo-vs-jquery-id-selector'
version = 'Kimbo 1.0.0, jQuery 2.0.0pre and Zepto 1.0rc1'

include includes/jsperf-layout
