- var title = 'Kimbo vs jQuery closest method'
- var key = 'agt1YS1wcm9maWxlcnIRCxIEVGVzdBiAgICA2POtCgw'
- var url = 'kimbo-vs-jquery-closest-method/3'
- var version = 'Kimbo 1.0.0, jQuery 1.10.2 and Zepto 1.0rc1'

include includes/jsperf-layout
