title = 'Kimbo vs jQuery each method'
key = 'agt1YS1wcm9maWxlcnIRCxIEVGVzdBiAgICAmImaCAw'
url = 'kimbo-vs-jquery-each-method/4'
version = 'Kimbo 1.0.0 and jQuery 2.0.3'

include includes/jsperf-layout
