- var title = 'Kimbo vs jQuery addClass method'
- var key = 'agt1YS1wcm9maWxlcnIRCxIEVGVzdBiAgIDC-byuCgw'
- var url = 'kimbo-vs-jquery-addclass-method/10'
- var version = 'Kimbo 1.0.4, jQuery 2.1.1 and Zepto 1.1.6'

include includes/jsperf-layout
