- var title = 'Kimbo vs jQuery .css() method'
- var key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBjctcoTDA'
- var url = 'kimbo-vs-jquery-css-method'
- var version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
