title = 'Kimbo vs jQuery addClass method'
key = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBjt5qYTDA'
url = 'kimbo-vs-jquery-addclass-method'
version = 'Kimbo 1.0.0 and jQuery 1.9.0'

include includes/jsperf-layout
